/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Sail&display=swap');

$font-family-sans-serif: "Crimson Text";
$code-block-font-size: .65em;

$link-color: #440033;

/*-- scss:rules --*/

.reveal pre code {
  overflow: unset;
}

.reveal .slides>section {
  width: 102%;
}

li code {
  font-size: .8em;
}

.center {
  text-align: center;
  display: block;
}

.indent-1 {
  margin-left: 2em;
}
